img{
    height: auto; 
    width: 200px;
}

.index-list{
    font-size: 18px;
    /* color:red; */
}

.ingredients{
    border: solid;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 12px;
}

.title{
    text-align: center;
}

.intro{
    text-align: center;
    color: white;
    font-size: 18px;
}

.note{
    font-style: italic;
}


